<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>'Ia ora na, bonjour, welcome.</h1>
        <p>POUR QUE DEV ET OPS SE COMPRENNENT, ET POUR FAIRE PRENDRE CONSCIENCE DE L'IMPORTANCE SOCIALE DE L'INFORMATIQUE.</p>
      </header>
      <p>Tahiti DevOps est une initiative visant à promouvoir le devops en Polynésie (jusque là, rien de bien fracassant). À cela, nous souhaitons ajouter la dimension humaine. L'informatique est un métier majoritairemet masculin. Et c'est un métier dont l'impact social ne fait que grandir. Il est donc important de retrouver la parité et d'atteindre l'exemplarité.</p>
      <ul class="actions">
        <li><a href="/code.html" class="button big">Consulter notre code de conduite</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/devops.pf/logo.jpg" alt="" />
    </span>
  </section>
